---
import Layout from "../layouts/Layout.astro";
import PostList from "../components/PostList.astro";
---

<Layout>
    <h1>Bienvenido a Mi Blog</h1>
    <p>¡Explora los posts más recientes sobre Astro y otras tecnologías!</p>
    <PostList />
</Layout>
